@font-face {
  font-family: "LibreBaskerville";
  src: url("./assets/Fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.webkit-date-fix {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.webkit-date-fix::-webkit-datetime-edit {
  display: block;
  padding: 0;
}

.webkit-date-fix::-webkit-calendar-picker-indicator {
  margin-left: 4px;
}
